* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
.bg-upper {
  background-color: rgb(216, 216, 224);
  height: 450px;
  min-width: 510px;
  max-width: 600px;
  position: absolute;
  top: 0;
  z-index: -10;
}
 #house {
  width: 500px;
  height: 400px;
  background-color: yellowgreen;
  border: 5px solid rgb(52, 77, 2);
  position: relative;
  top: 200px;
  margin: 5px auto;
  z-index: 1;
}
.bg-lower {
  background-color: #008000;
  min-height: 50%;
  max-height: 65%;
  min-width: 510px;
  max-width: 600px;
  position: absolute;
  top: 445px;
}

#window-1 {
  width: 20%;
  height: 23%;
  background-color: white;
  border: 5px solid black;
  top: 120px;
  position: absolute;
  left: 25px;
}
#window-2 {
  width: 20%;
  height: 23%;
  background-color: white;
  border: 5px solid black;
  top: 120px;
  position: absolute;
  right: 25px;
}
.win-divide {
  width: 4%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 44px;
}
#door {
  position: absolute;
  width: 25%;
  height: 40%;
  background-color: beige;
  border: 5px solid black;
  bottom: 0;
  left: 39%;
}
.door-knob {
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: 110px;
  width: 20px;
  height: 20px;
  right: 10px;
}
.label {
  position: absolute;
  bottom: -50px;
  left: 192px;
  width: 119px;
  height: 45px;
  background-color: white;
  text-align: center;
  color: rgb(52, 77, 2);
  font-weight: bold;
  font-size: 1.5rem;
  transform: skewX(-15deg);
}
p {
  position: absolute;
  bottom: -16.5px;
  left: 5.8px;
}
#roof {
  background-color: rgb(52, 77, 2);
  width: 500px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 3px;
  transform: skewX(10deg);
  z-index: 3;
  border: 0.2px solid rgb(52, 77, 2);
}
#roof-back {
  background-color: rgb(52, 77, 2);
  width: 500px;
  height: 100px;
  position: absolute;
  top: 0;
  left: -15px;
  transform: skewX(-10deg);
  z-index: 0;
}
#chimney {
  background-color: white;
  width: 90px;
  height: 80px;
  position: absolute;
  top: -80px;
  right: 90px;
  border: 2px solid black;
  z-index: 1;
}
.chimney-cross {
  background-color: black;
  width: 100%;
  height: 1px;
  position: absolute;
}
.one {
  top: 15px;
}
.two {
  top: 30px;
}
.three {
  top: 45px;
}
.four {
  top: 60px;
}
.five {
  top: 75px;
}
.smoke {
  background: rgb(143, 138, 138);
  filter: blur(10px);
  opacity: 0.9;
  border-radius: 200%;
  width: 50px;
  height: 70px;
  position: absolute;
  top: -40px;
  left: 15px;
}
@media (min-width: 600px) {
  .bg-upper {
  background-color: rgb(216, 216, 224);
  height: 450px;
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
  }
  .bg-lower {
  background-color: #008000;
  min-height: 273px;
  max-height: 300px; 
  min-width: 100%;
  position: absolute;
  top: 445px;
  z-index: -12;
 }
}
